h1 {
    color: #26547C;
}

body {
    background: white;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 70px 0;
}

.chatbar {
    background: #C33C54;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
}

.chatbar-message,
.chatbar-username {
    border: 1px solid black;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
}

.chatbar-message {
    justify-content: right;
    width: 500%
}

.chatbar-username {
    justify-content: center;
    width: 20%
}

.message {
    display: flex;
    padding: 5px;
}

.message.system {
    font-style: italic;
    padding: 5px 20px;
}

.message-content,
.message-username {
    overflow: hidden;
    margin: 5px;
    padding: 0 10px;
    color: #26547C
}

.message-content {
    flex: 8;
    font-size: 16px
}

.message-username {
    flex: 2;
    font-weight: 700;
    font-size: 2em
}

.navbar {
    background: #C33C54;
    border-bottom: 1px solid black;
    height: 80px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
}

.navbar-brand {
    color: rgb(118, 163, 184);
    display: block;
    float: left;
    font-weight: 700;
    font-size: 50px;
    height: 80px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
}

h4 {
    color: rgb(118, 163, 184);
    float: right;
    font-size: 20px
}